 {% extends 'prontuario/base.html' %}
    {% block content %}
  {% load static %}
    <center><img height="200" width="200" src="{% static 'indice.png' %}"></center>
    <br>
    <h4 align="justify" style="color: #181661;">O prontuário eletrônico tem uma função muito importante na 
        rotina dos profissionais que atuam na saúde. É um sistema que facilita o trato do estabelecimento
        com as informações de cada paciente, evitando que falhas humanas prejudiquem os registros.
       </h4></center>
      <br>
<center><h5 style="color: #181661;"><i><b>
  Corrente - PI, Cep: 64980-000</b></i></h5></center>

      
     
{% endblock %}